# Build results
bin/
obj/
out/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# Rider
.idea/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
**/packages/*

# Local databases created by the app/tests
*.db
*.db-shm
*.db-wal

# OS files
.DS_Store
Thumbs.db

# Environment/secrets
*.env
appsettings.*.local.json
